/node_modules
/public/dist
/.parcel-cache
/dist
/.env
/*.db
/*.db-journal
/*.tgz
/acceptance/screenshots
/.reload
/.next
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
