@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Full screen height minus header size*/
.h-content {
  height: calc(100vh - theme("spacing.12"));
}

.min-h-content {
  min-height: calc(100vh - theme("spacing.12"));
}
